 <link href="./img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/vender/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/css/icon.css" />
    <link href="/css/common.css" rel="stylesheet" type="text/css" />
    <link href="/css/link.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <script src=/vender/jquery/dist/jquery.js" type="text/javascript"></script>
    <script src="/vender/bootstrap/dist/js/bootstrap.js"></script>